.c-admin .i-d-0{width:90px;height:57px;top:202px;left:153px;}
@media (hover:hover) and (min-width:1200px){.c-admin:hover .i-d-0{width:104px;height:84px;top:115px;left:276px;transform:rotate(20.0deg);}}
.c-admin .i-d-1{width:90px;height:57px;top:202px;left:157px;}
@media (hover:hover) and (min-width:1200px){.c-admin:hover .i-d-1{width:104px;height:85px;top:203px;left:13px;transform:rotate(-21.0deg);}}
.c-admin .i-d-2{width:40px;height:40px;top:76px;left:30px;}
.c-admin .i-d-3{width:110px;height:110px;top:158px;left:145px;}
.c-admin .i-t-0{width:40px;height:40px;top:88px;left:30px;}
.c-admin .i-t-1{width:85px;height:70px;top:178px;left:271px;transform:rotate(-21.0deg);}
.c-admin .i-m-0{width:40px;height:40px;top:88px;left:30px;}
.c-admin .i-m-1{width:85px;height:70px;top:188px;left:264px;transform:rotate(-21.0deg);}
.c-design .i-d-0{width:65px;height:65px;top:-51px;left:469px;}
@media (hover:hover) and (min-width:1200px){.c-design:hover .i-d-0{width:65px;height:65px;top:81px;left:217px;transform:rotate(0deg);}}
.c-design .i-d-1{width:104px;height:107px;top:430px;left:482px;transform:rotate(34.0deg);}
@media (hover:hover) and (min-width:1200px){.c-design:hover .i-d-1{width:104px;height:107px;top:224px;left:294px;transform:rotate(34.0deg);}}
.c-design .i-d-2{width:64px;height:64px;top:112px;left:32px;}
.c-design .i-d-3{width:64px;height:64px;top:112px;left:108px;}
.c-design .i-d-4{width:64px;height:64px;top:188px;left:108px;}
.c-design .i-d-5{width:64px;height:64px;top:188px;left:32px;}
.c-design .i-t-0{width:48px;height:48px;top:92px;left:32px;}
.c-design .i-t-1{width:48px;height:48px;top:92px;left:92px;}
.c-design .i-t-2{width:48px;height:48px;top:92px;left:152px;}
.c-design .i-t-3{width:88px;height:90px;top:156px;left:242px;transform:rotate(-33.0deg);}
.c-design .i-m-0{width:88px;height:90px;top:171px;left:258px;transform:rotate(-33.0deg);}
.c-design .i-m-1{width:66px;height:66px;top:15px;left:281px;transform:rotate(-24.0deg);}
.c-design .i-m-2{width:48px;height:48px;top:92px;left:32px;}
.c-design .i-m-3{width:48px;height:48px;top:92px;left:92px;}
.c-design .i-m-4{width:48px;height:48px;top:92px;left:152px;}
.c-claim .i-d-0{width:70px;height:77px;top:-129px;left:126px;transform:rotate(-23.0deg);}
@media (hover:hover) and (min-width:1200px){.c-claim:hover .i-d-0{width:68px;height:74px;top:17px;left:235px;transform:rotate(-23.0deg);}}
.c-claim .i-d-1{width:56px;height:56px;top:88px;left:32px;}
.c-claim .i-d-2{width:56px;height:56px;top:88px;left:100px;}
.c-claim .i-d-3{width:56px;height:56px;top:88px;left:168px;}
.c-claim .i-d-4{width:69px;height:76px;top:342px;left:139px;transform:rotate(21.0deg);}
@media (hover:hover) and (min-width:1200px){.c-claim:hover .i-d-4{width:66px;height:73px;top:166px;left:322px;transform:rotate(21.0deg);}}
.c-claim .i-t-0{width:48px;height:48px;top:92px;left:32px;}
.c-claim .i-t-1{width:48px;height:48px;top:92px;left:92px;}
.c-claim .i-t-2{width:48px;height:48px;top:92px;left:152px;}
.c-claim .i-t-3{width:67px;height:70px;top:19px;left:239px;transform:rotate(-37.0deg);}
.c-claim .i-t-4{width:68px;height:70px;top:174px;left:280px;transform:rotate(38.0deg);}
.c-claim .i-m-0{width:67px;height:70px;top:10px;left:223px;transform:rotate(-37.0deg);}
.c-claim .i-m-1{width:68px;height:70px;top:183px;left:281px;transform:rotate(38.0deg);}
.c-claim .i-m-2{width:120px;height:119px;top:-160px;left:358px;}
.c-claim .i-m-3{width:48px;height:48px;top:92px;left:32px;}
.c-claim .i-m-4{width:48px;height:48px;top:92px;left:92px;}
.c-claim .i-m-5{width:48px;height:48px;top:92px;left:152px;}
.c-sports .i-d-0{width:119px;height:205px;top:94px;right:158px;}
@media (hover:hover) and (min-width:1200px){.c-sports:hover .i-d-0{width:430px;height:202px;top:44px;right:18px;transform:rotate(0deg);}}
.c-sports .i-d-1{width:157px;height:280px;top:45px;right:135px;}
@media (hover:hover) and (min-width:1200px){.c-sports:hover .i-d-1{width:212px;height:306px;top:32px;right:119px;transform:rotate(0deg);}}
.c-sports .i-d-2{width:88px;height:85px;top:87px;left:32px;}
.c-sports .i-d-3{width:64px;height:61px;top:98px;left:44px;}
@media (hover:hover) and (min-width:1200px){.c-sports:hover .i-d-3{width:64px;height:61px;top:99px;left:44px;transform:rotate(180.0deg);}}
.c-sports .i-t-0{width:77px;height:78px;top:64px;left:386px;}
.c-sports .i-t-1{width:116px;height:112px;top:137px;left:640px;transform:rotate(15.0deg);}
.c-sports .i-t-2{width:97px;height:91px;top:175px;left:427px;}
.c-sports .i-t-3{width:156px;height:279px;top:45px;left:511px;}
.c-sports .i-t-4{width:88px;height:85px;top:87px;left:32px;}
.c-sports .i-t-5{width:64px;height:61px;top:98px;left:44px;}
.c-sports .i-m-0{width:108px;height:106px;top:171px;left:263px;}
.c-sports .i-m-1{width:68px;height:66px;top:81px;left:32px;}
.c-sports .i-m-2{width:48px;height:46px;top:91px;left:42px;}
.c-sports .i-m-3{width:77px;height:78px;top:29px;left:260px;}
.c-finance .i-d-0{width:184px;height:110px;top:55px;right:107px;}
@media (hover:hover) and (min-width:1200px){.c-finance:hover .i-d-0{width:183px;height:110px;top:18px;right:252px;transform:rotate(0deg);}}
.c-finance .i-d-1{width:208px;height:125px;top:63px;right:74px;}
@media (hover:hover) and (min-width:1200px){.c-finance:hover .i-d-1{width:223px;height:154px;top:33px;right:100px;transform:rotate(0deg);}}
.c-finance .i-d-2{width:231px;height:139px;top:74px;right:40px;}
@media (hover:hover) and (min-width:1200px){.c-finance:hover .i-d-2{width:229px;height:138px;top:105px;right:16px;transform:rotate(0deg);}}
.c-finance .i-d-3{width:56px;height:56px;top:113px;left:32px;}
.c-finance .i-d-4{width:56px;height:56px;top:113px;left:100px;}
.c-finance .i-d-5{width:56px;height:56px;top:113px;left:168px;}
.c-finance .i-t-0{width:183px;height:110px;top:14px;left:296px;}
.c-finance .i-t-1{width:223px;height:154px;top:37px;left:425px;}
.c-finance .i-t-2{width:229px;height:138px;top:108px;left:503px;}
.c-finance .i-t-3{width:162px;height:48px;top:92px;left:32px;}
.c-finance .i-m-0{width:77px;height:75px;top:187px;left:278px;transform:rotate(-31.0deg);}
.c-finance .i-m-1{width:61px;height:60px;top:11px;left:242px;transform:rotate(77.0deg);}
.c-finance .i-m-2{width:48px;height:48px;top:88px;left:32px;}
.c-finance .i-m-3{width:48px;height:48px;top:88px;left:92px;}
.c-finance .i-m-4{width:48px;height:48px;top:88px;left:152px;}
.c-massage .i-d-0{width:58px;height:62px;top:-118px;left:360px;}
@media (hover:hover) and (min-width:1200px){.c-massage:hover .i-d-0{width:58px;height:62px;top:22px;left:232px;transform:rotate(0deg);}}
.c-massage .i-d-1{width:72px;height:71px;top:316px;left:369px;transform:rotate(-37.0deg);}
@media (hover:hover) and (min-width:1200px){.c-massage:hover .i-d-1{width:72px;height:71px;top:174px;left:311px;transform:rotate(-37.0deg);}}
.c-massage .i-d-2{width:56px;height:56px;top:88px;left:32px;}
.c-massage .i-d-3{width:56px;height:56px;top:88px;left:100px;}
.c-massage .i-d-4{width:56px;height:56px;top:88px;left:168px;}
.c-massage .i-t-0{width:22px;height:23px;top:0px;left:501px;}
.c-massage .i-t-1{width:58px;height:62px;top:-118px;left:360px;}
.c-massage .i-t-2{width:72px;height:71px;top:316px;left:369px;transform:rotate(-37.0deg);}
.c-massage .i-t-3{width:48px;height:48px;top:88px;left:32px;}
.c-massage .i-t-4{width:48px;height:48px;top:88px;left:92px;}
.c-massage .i-t-5{width:48px;height:48px;top:88px;left:152px;}
.c-massage .i-t-6{width:58px;height:62px;top:21px;left:216px;}
.c-massage .i-t-7{width:72px;height:71px;top:130px;left:267px;transform:rotate(-37.0deg);}
.c-massage .i-m-0{width:22px;height:23px;top:0px;left:501px;}
.c-massage .i-m-1{width:58px;height:62px;top:-118px;left:360px;}
.c-massage .i-m-2{width:72px;height:71px;top:316px;left:369px;transform:rotate(-37.0deg);}
.c-massage .i-m-3{width:48px;height:48px;top:88px;left:32px;}
.c-massage .i-m-4{width:48px;height:48px;top:88px;left:92px;}
.c-massage .i-m-5{width:48px;height:48px;top:88px;left:152px;}
.c-massage .i-m-6{width:58px;height:62px;top:22px;left:216px;}
.c-massage .i-m-7{width:72px;height:71px;top:132px;left:280px;transform:rotate(-37.0deg);}