.t0{font-size:18px;font-weight:400;line-height:23.4px;letter-spacing:-0.36px;color:rgb(96, 104, 112)}
.t1{font-size:40px;font-weight:500;line-height:52px;letter-spacing:-0.8px;color:rgb(0, 8, 18)}
.t2{font-size:24px;font-weight:400;line-height:31.2px;letter-spacing:-0.48px;color:rgb(96, 104, 112)}
.t3{font-size:24px;font-weight:500;line-height:26.4px;letter-spacing:-0.48px;color:rgb(0, 0, 0)}
.t4{font-size:18px;font-weight:400;line-height:25.2px;color:rgb(28, 32, 36)}
.t5{font-size:32px;font-weight:500;line-height:35.2px;letter-spacing:-0.64px;color:rgb(0, 0, 0)}
.t6{font-size:18px;font-weight:400;line-height:25.2px;color:rgb(10, 11, 13)}
.t7{font-size:18px;font-weight:500;line-height:25.2px;color:rgb(10, 11, 13)}
.t8{font-size:18px;font-weight:500;line-height:25.2px;color:rgb(255, 255, 255)}
.t9{font-size:18px;font-weight:400;line-height:25.2px;color:rgb(73, 64, 250)}
.t10{font-size:16px;font-weight:400;line-height:20.8px;letter-spacing:-0.32px;color:rgb(96, 104, 112)}
.t11{font-size:32px;font-weight:500;line-height:35.84px;letter-spacing:-0.64px;color:rgb(0, 8, 18)}
.t12{font-size:26px;font-weight:500;line-height:28.6px;letter-spacing:-0.52px;color:rgb(0, 0, 0)}
.t13{font-size:16px;font-weight:400;line-height:22.4px;color:rgb(28, 32, 36)}
.t14{font-size:16px;font-weight:400;line-height:22.4px;color:rgb(10, 11, 13)}
.t15{font-size:26px;font-weight:500;line-height:30.68px;letter-spacing:-0.52px;color:rgb(0, 0, 0)}
.t16{font-size:16px;font-weight:400;line-height:24px;color:rgb(10, 11, 13)}
.t17{font-size:16px;font-weight:400;line-height:24px;color:rgb(73, 64, 250)}
.t18{font-size:24px;font-weight:500;line-height:31.2px;letter-spacing:-0.48px;color:rgb(96, 104, 112)}
.t19{font-size:18px;font-weight:500;line-height:25.2px;color:rgb(28, 32, 36)}
.t20{font-size:16px;font-weight:400;line-height:24px;color:rgb(28, 32, 36)}
.t21{font-size:20px;font-weight:700;line-height:24px;color:rgb(28, 32, 36)}
.t22{font-size:16px;font-weight:500;line-height:22.4px;color:rgb(111, 118, 126)}
.t23{font-size:16px;font-weight:700;line-height:24px;color:rgb(28, 32, 36)}
.t24{font-size:18px;font-weight:500;line-height:19.8px;letter-spacing:-0.36px;color:rgb(0, 0, 0)}
.t25{font-size:32px;font-weight:500;line-height:36.8px;letter-spacing:-0.64px;color:rgb(0, 8, 18)}
.t26{font-size:20px;font-weight:400;line-height:27px;letter-spacing:-0.4px;color:rgb(96, 104, 112)}
.t27{font-size:32px;font-weight:500;line-height:41.6px;letter-spacing:-0.64px;color:rgb(0, 8, 18)}